body {
	background-color: lightblue;
}

.page_title {
	text-align: center;
}

#forgotPassword_container {
	width: 50%;
}

#home_container {
	width: 50%;
}

#login_container {
	width: 50%;
}

#sign-up_container {
	width: 50%;
}