body {
	background-color: rgb(178, 208, 255);
	padding-top: 50px;
}

.page_title {
	text-align: center;
}

#accountSettings {
	padding: 30px;
}
#footer {
	background-color: rgb(178, 208, 255);
}

#forgotPassword_container {
	width: 50%;
}

#home_container {
	width: 50%;
}

#logButton {
	cursor: pointer;
}

#login_container {
	width: 50%;
}

#personalData {
	overflow: scroll;
	display: none;
}

#sign-up_container {
	width: 50%;
}