{% extends "base.html" %}

{% block content %}
<head>
	<title>Forgotten Password?</title>
	<link rel="stylesheet" href="static/myStyle.css" type="text/css">
	<script src="static/myScript.js"></script>
</head>

<body>
	<h3 class="page_title">Forgotten Password?</h3>
	<div class="container" id="forgotPassword_container">
		<form role="form">
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" class="form-control" id="username">
			</div>
		</form>
	<button type="button" class="btn btn-primary" onclick="fetchQuestion()">Fetch Question</button>
	</div>
</body>
{% endblock %}