{% extends "base.html" %}

{% block content %}
<head>
	<title>Forgotten Password?</title>
	<style>
		body {
			background-color: lightblue;
		}
		.page_title {
			text-align: center;
		}
		#forgotPassword_container {
			width: 50%;
		}
	</style>
	<script>
		fetchQuestion = function() {
		
		}
	</script>
</head>

<body>
	<h3 class="page_title">Forgotten Password?</h3>
	<div class="container" id="forgotPassword_container">
		<form role="form">
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" class="form-control" id="username">
			</div>
		</form>
	<button type="button" class="btn btn-primary" onclick="fetchQuestion()">Fetch Question</button>
	</div>
</body>
{% endblock %}