{% extends "base.html" %}

{% block content %}
<head>
	<title>Fabulous Website</title>
	<link rel="stylesheet" href="static/myStyle.css" type="text/css">
	<script src="static/home.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header bg-faded">
      			<a class="navbar-brand">Fabulous Website</a>
    		</div>
    		<ul class="nav navbar-nav">
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
      			<li><a href="sign-up.html"><span class="glyphicon glyphicon-user"></span> Sign-Up</a></li>
      			<li><a href="log-in.html"><span class="glyphicon glyphicon-log-in"></span> Log-in</a></li>
    		</ul>
  		</div>
	</nav>
	<div class="container" id="home_container">
	
	</div>
</body>
{% endblock %}