{% extends "base.html" %}

{% block content %}
<head>
	<title>Fabulous Website</title>
	<link rel="stylesheet" href="static/myStyle.css" type="text/css">
	<script src="static/myScript.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header bg-faded">
      			<a class="navbar-brand">Fabulous Website</a>
    		</div>
    		<ul class="nav navbar-nav">
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
      			<li><a href="sign-up.html"><span class="glyphicon glyphicon-user"></span> Sign-Up</a></li>
      			<li><a href="log-in.html"><span class="glyphicon glyphicon-log-in"></span> Log-in</a></li>
    		</ul>
  		</div>
	</nav>
	<div class="container" id="home_container">
		<table class="table table-striped" id="personalData">
    		<thead>
      			<tr>
        			<th>Username</th>
        			<th>Password</th>
      			</tr>
    		</thead>
    		<tbody id="personalDataBody"></tbody>
  		</table>
	
	</div>
	<footer class="navbar-default navbar-fixed-bottom" id="footer">
  		<div class="container-fluid">
			<button type="button" class="btn btn-danger" onclick="showAllUsersPersonalInfo()">Show All Users' Personal Info</button>
  		</div>
	</footer>
</body>
{% endblock %}